<html>
<head>
    <title>Consent - {{.Config.Name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">

    <style>
        {{if .Config.BackgroundImageUri}}
        html {
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            background-image: url("{{.Config.BackgroundImageUri}}");
            background-repeat: no-repeat;
            background-position: center center;
            background-attachment: fixed;
        }

        {{end}}

        .form {
            border-radius: var(--border-radius);
            padding: 2em;
            background-color: rgba(255, 255, 255, 0.75);
        }

        .logo {
            max-height: 150px;
        }

        .centered {
            text-align: center;
        }
    </style>
</head>
<body>
<main class="container">
    <form class="form" method="post">
        <h1 class="centered">{{.Config.Name}}</h1>
        {{if .Request.Client.LogoUri}}
            <div class="centered">
                <img class="logo" src="{{.Request.Client.LogoUri}}">
            </div>
        {{end}}
        {{if .Request.Client.ClientName}}
            <div class="centered">
                Authorize <b>{{.Request.Client.ClientName}}</b>
            </div>
        {{end}}

        <input type="hidden" name="challenge" value="{{.Request.Challenge}}"/>

        <fieldset>
            Requested scopes:
            <ul>
                {{range .Request.RequestedScope}}
                    <li>{{.}}</li>
                {{end}}
            </ul>
            <div class="grid">
                <button type="submit" name="submit" value="reject" class="secondary">Cancel</button>
                <button type="submit" name="submit" value="accept">Authorize</button>
            </div>
        </fieldset>
    </form>
</main>
</body>
</html>
