<html>
<head>
    <title>Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">

    <style>
        {{if .Config.BackgroundImageUri}}
        html {
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            background-image: url("{{.Config.BackgroundImageUri}}");
            background-repeat: no-repeat;
            background-position: center center;
            background-attachment: fixed;
        }

        .error {
            border-radius: var(--border-radius);
            padding: 2em;
            background-color: rgba(255, 255, 255, 0.75);
        }

        {{end}}
    </style>
</head>
<body>
<main class="container">
    <div class="error">
        <h1>HTTP {{.StatusCode}}</h1>
        {{if .Error}}
            <h2>{{.Error}}</h2>
        {{end}}
    </div>
</main>
</body>
</html>
