<html>
<head>
    <title>Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>
<body>
<main class="container">
    <h1>{{.Error}}</h1>
    <h2>{{.ErrorDescription}}</h2>
    <p>{{.ErrorHint}}</p>
</main>
</body>
</html>
